
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理中心</title>
    <meta name="Copyright" content="二维也" />
    <meta name="description" content="www.chenjinwei.com"/>
    <link href="/Content/Manager/css/public.css" rel="stylesheet" />
    <script src="/Content/bootstrap-3.3.5-dist/jquery1.9.js"></script>
    <script src="/Content/Manager/js/global.js"></script>
    <script src="/Content/layer-v2.1/layer/layer.js"></script>
    <script src="/Content/layer-v2.1/layer/extend/layer.ext.js"></script>
    <script src="/Content/js/public.js"></script>
</head>
<body>
    <div id="dcWrap">
        <div id="dcHead">
            <div id="head">
                <div class="logo"><a href="/m"><img src="~/logo.gif" alt="二维也" width="205" height="42" style="margin:0;"/></a></div>
               
                <div class="nav">
                    <ul>
                        <li class="M">
                            <a href="JavaScript:void(0);" class="topAdd">新建</a>
                            <div class="drop mTopad"><a href="#">商品</a> <a href="#">文章</a> <a href="#">自定义导航</a> <a href="show.html">首页幻灯</a> <a href="#">单页面</a> <a href="#">管理员</a> <a href="link.html"></a> </div>
                        </li>
                        <li><a href="#" target="_blank">查看站点</a></li>
                        <li><a href="#">清除缓存</a></li>
                        <li><a href="#" target="_blank">帮助</a></li>
                        <li class="noRight"><a href="http://www.chenjinwei.com">MyWay</a></li>
                    </ul>
                    <ul class="navRight">
                        <li class="M noLeft">
                            <a href="JavaScript:void(0);">您好，admin</a>
                            <div class="drop mUser">
                                <a href="javascript:;">编辑我的个人资料</a>
                                <a href="javascript:;">设置云账户</a>
                            </div>
                        </li>
                        <li class="noRight"><a href="javascript:;">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- dcHead 结束 --> <div id="dcLeft">
            <div id="menu">
                <ul class="top">
                    <li><a href="javascript:;"><i class="home"></i><em>管理首页</em></a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("ContentPage","Home")"><i class="system"></i><em>文章管理</em></a></li>
                    <li><a href="@Url.Action("LabelPage","Home")"><i class="system"></i><em>标签管理</em></a></li>
                    <li><a href="@Url.Action("TypePage","Home")"><i class="nav"></i><em>类别管理</em></a></li>
                    <li><a href="javascript:;"><i class="show"></i><em>首页幻灯广告</em></a></li>
                    <li><a href="javascript:;"><i class="page"></i><em>单页面管理</em></a></li>
                </ul>
                <ul>
                    <li><a href="javascript:;"><i class="productCat"></i><em>商品分类</em></a></li>
                    <li><a href="javascript:;"><i class="product"></i><em>商品列表</em></a></li>
                </ul>
                <ul>
                    <li><a href="javascript:;"><i class="articleCat"></i><em>文章分类</em></a></li>
                    <li><a href="javascript:;"><i class="article"></i><em>文章列表</em></a></li>
                </ul>
                <ul class="bot">
                    <li><a href="javascript:;"><i class="backup"></i><em>数据备份</em></a></li>
                    <li><a href="javascript:;"><i class="mobile"></i><em>手机版</em></a></li>
                    <li><a href="javascript:;"><i class="theme"></i><em>设置模板</em></a></li>
                    <li><a href="javascript:;"><i class="manager"></i><em>网站管理员</em></a></li>
                    <li><a href="javascript:;"><i class="managerLog"></i><em>操作记录</em></a></li>
                </ul>
            </div>
        </div>
        <div id="dcMain">
            @RenderBody()
        </div>
        <div class="clear"></div>
        <div id="dcFooter">
            <div id="footer">
                <div class="line"></div>
                <ul>
                    版权所有 © 2013-2015 二维也有限公司， 并保留所有权利。
                </ul>
            </div>
        </div><!-- dcFooter 结束 -->
        <div class="clear"></div>
    </div>
</body>
</html>
