@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Te</title>
</head>
<body>
    <div>
        <form method="post" action="/w/weixin/v">
            <input type="submit" name="name" value="点击" />
        </form>
    </div>
</body>
</html>
